NODE_ENV=development
TOKEN=<TELEGRAM BOT TOKEN>
AUTH_USER_ID=<TELEGRAM USER ID>
DATABASE_URL=<PG DB URL>
UOS_API_URL=https://web-calculator-node.u.community:6879
UOS_API_URI=/v1/uos_rates/get_account_details
UCOM_USER_URL=https://u.community
UCOM_USER_URI=/user/
RATE_MULTIPLIER=10000
ACCOUNT_HELP_LINK=[How to link your telegram account to UOS account.](https://telegra.ph/How-to-add-your-telegram-account-to-UOS-Network-account-11-16)